.app {
  display: grid;
  gap: var(--gap-2);
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: var(--gap-6) auto;
  padding: var(--gap-6);
  box-sizing: content-box;
}

.header {
  padding: var(--gap-3);
  color: var(--color-primary);
  text-align: center;
}

.section {
  display: grid;
  gap: var(--gap-1);
}

.footer {
  display: flex;
  justify-content: end;
  gap: var(--gap-1);
}

.table-container {
  overflow: hidden;
}
