[role="table"] {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 1px solid #aaa;
}

[role="row"] {
  display: flex;
  border-top: 1px solid #aaa;
  text-align: center;
}

[role="columnheader"] {
  padding: 8px;
  border-right: 1px solid #aaa;
  background-color: #ccc;
  font-weight: 700;
}

[role="columnheader"]:first-of-type {
  border-left: 1px solid #aaa;
}

[role="cell"] {
  flex: 1;
  padding: 8px;
  border-right: 1px solid #ccc;
}

[role="cell"]:first-of-type {
  border-left: 1px solid #ccc;
}
[data-column="index"] {
  flex: 0.1;
}
[data-column="title"] {
  flex: 0.5;
}
[data-column="author"] {
  flex: 0.1;
}
[data-column="date"] {
  flex: 0.2;
}
[data-column="views"] {
  flex: 0.1;
}

.table {
  overflow: auto;
  height: 100%;
  max-height: 60vh;
}

.table-head {
  position: sticky;
  top: 0;
}
