[role="table"] {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid var(--color-primary);
  border-bottom: 1px solid var(--color-gray);
}

[role="row"] {
  display: flex;
  border-top: 1px solid var(--color-gray);
  text-align: center;
}

[role="columnheader"] {
  padding: var(--gap-2);
  border-right: 1px solid var(--color-gray);
  background-color: var(--color-gray-light);
  font-weight: 700;
}

[role="columnheader"]:first-of-type {
  border-left: 1px solid var(--color-gray);
}

[role="cell"] {
  flex: 1;
  padding: var(--gap-2);
  border-right: 1px solid var(--color-gray-light);
  background-color: var(--color-white);
}

[role="cell"]:first-of-type {
  border-left: 1px solid var(--color-gray-light);
}
[data-column="index"] {
  flex: 0.1;
}
[data-column="title"] {
  flex: 0.5;
}
[data-column="author"] {
  flex: 0.1;
}
[data-column="date"] {
  flex: 0.2;
}
[data-column="views"] {
  flex: 0.1;
}

.table {
  overflow: auto;
  height: 100%;
  max-height: 60vh;
}

.table-head {
  position: sticky;
  top: 0;
}

.title-button:hover {
  color: var(--color-primary);
}
