[role="table"] {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 1px solid #aaa;
}

[role="row"] {
  display: flex;
  border-top: 1px solid #aaa;
  text-align: center;
}

[role="columnheader"] {
  padding: 8px;
  border-right: 1px solid #aaa;
  background-color: #ccc;
  font-weight: 700;
}

[role="columnheader"]:first-of-type {
  border-left: 1px solid #aaa;
}

[role="cell"] {
  flex: 1;
  padding: 8px;
  border-right: 1px solid #ccc;
}

[role="cell"]:first-of-type {
  border-left: 1px solid #ccc;
}
[data-column="index"] {
  flex: 0.1;
}
[data-column="title"] {
  flex: 0.5;
}
[data-column="author"] {
  flex: 0.1;
}
[data-column="date"] {
  flex: 0.2;
}
[data-column="views"] {
  flex: 0.1;
}

#table {
  overflow: auto;
}

#tableHead {
  position: sticky;
  top: 0;
}

#pagination {
  display: flex;
  align-items: center;
  margin: auto;
}

.pagination-button,
.pagination-button-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  padding: 2px;
  margin: 0 2px;
  font-size: 10px;
  text-align: center;
}

.pagination-button[aria-current="page"] {
  border: 1px solid #666;
}

.pagination-button:hover,
.pagination-button-box:hover {
  text-decoration: underline;
}

.pagination-button-box {
  border: 1px solid #ccc;
}
